---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Dynamic About Page variable'
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = true;
const goal = 3;
/** CSS variables */
const skillItemColor = 'navy'
const fontWeight = '700'
const textCase = 'uppercase'

---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{skillItemColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 3.6rem;
      }
      ul>li {
        color: var(--skillItemColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <BaseLayout>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    <h3>My skills</h3> <ul>{
      skills.map(item =><li>{item}</li>)
    }</ul>
    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}
    
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
  </BaseLayout>
  </body>
</html>