---
import Navagation from "./Navagation.astro";
import Hamburger from './Hamburger.astro'
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hamburger/>
    <ThemeIcon/>
    <Navagation />
  </nav>
</header>